[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
  name = Mesut Koca
  email = imesutkoca@gmail.com

[includeIf "gitdir:~/.dotfiles"]
  path = ~/.me/me-personal
[includeIf "gitdir:~/kod/"]
  path = ~/.me/me-personal
[includeIf "gitdir:~/kod/work/"]
  path = ~/.me/me-work

[core]
	excludesfile = ~/.gitignore

# master to main
[init]
	defaultBranch = main

# It is best practice to always rebase your local commits when you pull before pushing them.
# git pull creates a merge commit we don't want that.
# https://stackoverflow.com/questions/18930527/difference-between-git-pull-and-git-pull-rebase
[pull]
  rebase = true

# https://stackoverflow.com/questions/5480069/autosetuprebase-vs-autosetupmerge
[branch]
  autosetuprebase = always

# we don't have to do `git push origin HEAD` we can just do `git push`
[push]
  default = current

# i usually use these aliases for `dotfiles`. I have other aliases in `.aliases/git` file
[alias]
  a = add
  rh = reset --hard HEAD
  b = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  amend = commit -a --amend --no-edit
  unstage = reset --soft HEAD
  cdiff = "!git diff $1 $1^"
  s = status
  d = diff
  cm = commit -m
  ru = "!f() { \
      REMOTES=$(git remote); \
      REMOTE=\"origin\"; \
      case \"$REMOTES\" in \
          *upstream*) \
              REMOTE=\"upstream\"; \
              ;; \
          esac; \
      git fetch $REMOTE; \
      git update-ref refs/heads/master refs/remotes/$REMOTE/master; \
      git checkout master >/dev/null 2>&1; \
      git reset --hard $REMOTE/master >/dev/null 2>&1; \
      git checkout - >/dev/null 2>&1; \
  };"
